:root {
    --white: #f0eff4;
    --pink: #da4167;
    --darkpink: #832161;
    --darkpurple: #3d2645;
    --black: #000000;
}

@import "./Foundation/Loading.scss";
@import "./Foundation/Card.scss";

@import "./Foundation/Header.scss";
@import "./Foundation/Home.scss";
@import "./Foundation/Login.scss";
@import "./Foundation/Register.scss";
@import "./Foundation/Explore.scss";
@import "./Foundation/Article.scss";
@import "./Foundation/Profile.scss";
@import "./Foundation/ProfileEdit.scss";
@import "./Foundation/Footer.scss";

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}

.ttBtn {
    z-index: 10;
    position: sticky;
    bottom: 50px;
    right: 50px;
    float: right;
    margin: 20px;
    background: transparent;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    border: none;

  i {
      display: flex;
      font-size: 3rem;
      color: var(--pink);
  }

  &:hover {
      filter: drop-shadow(0 0 5px var(--white));
  }
}